@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'Walsheim-bold';
    src: url(/src/public/font/GT-Walsheim-Bold.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Walsheim-medium';
    src: url(/src/public/font/GT-Walsheim-Medium.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Walsheim-regular';
    src: url(/src/public/font/GT-Walsheim-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
}